 <!DOCTYPE html>
 <html lang="en" dir="ltr">

 <head>
   <meta charset="utf-8">
   <title>Chat Page</title>

   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="styles2.css">
 </head>
 <script src="/socket.io/socket.io.js"></script>
 <script>
   var socket = io();

   function sendMessage() {
     var msg = document.getElementById('message').value;
     if (msg) {
       socket.emit('msg', msg);
     }
   }
   socket.on('newmsg', function(data) {
     document.getElementById('container').innerHTML += "<li style='color:white'>  " + data + " </li>"
   })
 </script>

 <body>
   <div class="row custom">
     <div class="col-md-3 roleName">
       <div class="card">
         <div class="card-header">
           <h3>Role</h3>
         </div>
         <div class="card-body">
           <h4><strong> <%=role%></strong> </h4>
           <h5 style="text-transform: uppercase;"> <%=name%> </h5>
         </div>
       </div>
     </div>
     <div class="col-md-5 chatSection">
       <div class="card">
         <div class="card-header">
           <h3>Messages</h3>
         </div>
         <div class="card-body">
           <div id="scrollable">
             <ul id="container">
             </ul>
           </div>
           <span class="cardBodyMessage">
             <input class="form-control" type="text" id="message" name="message" placeholder="Enter Message">
             <br>
             <button style="color:black" class="btn btn-md btn-block" type="button" name="button" onclick="sendMessage()">Send</button>
           </span>
         </div>
       </div>
     </div>
   </div>
 </body>


 </html>
